body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('./images/background_img.jpg');
    background-size: cover; /* Adjust based on your needs */
    background-position: center;
}


.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.prompt {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Create a 3x4 grid for 12 buttons */
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
    margin-top: 5vh; /* Adjust spacing */
}

.even-tile {
    height: 100px;
    background: rgb(180, 175, 165);
    border: 1px solid #766e61;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odd-tile {
    height: 100px;
    background: rgb(145, 140, 125);
    border: 1px solid #766e61;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.even-tile:hover,
.odd-tile:hover {
    background-color: #8b8680;
    color: #fff;
}
